// Placeholder to allow overriding predefined variables.
.social-icons {
  .fab fa-twitter {
    color: #1DA1F2;
  }
  .fab fa-github {
    color: #6f42c1
  }
  .fab fa-facebook {
    color: #4267B2
  }
  .fab fa-linkedin {
    color: #2867b2
  }
}