---
layout: default
---

<header class="post-header">
<h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<div class="projects">
  {%- if site.posts | size > 0 -%}
    <ul class="post-list">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
<!--       <p> -->
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if post.show_excerpts != false -%}
          <div class="post-excerpt">{{ post.excerpt }}</div>
        {%- endif -%}
      <!-- </p> -->
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
